<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate 'Редактирование профиля' %}</title>
    <link rel="stylesheet" href="{% static 'css/profiles-update.css' %}">
</head>
<body>
<div class="container">
    <h2>{% translate 'Редактирование профиля' %}</h2>
    <h4>{% translate 'Пользователь' %} {{ profile.user.username }}</h4>
    <div class="avatar-container">
        <img src="{{ profile.avatar.url }}" alt="{{ profile.avatar.name }}" class="avatar">
    </div>
    <form class="profile-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id-avatar">Аватар: {{ profile.avatar.name }}</label>
        <input type="file" id="id-avatar" name="avatar" accept="image/*">

        <label for="id-name">Имя:</label>
        <input type="text" id="id-name" name="name" maxlength="30" value="{{ profile.name }}">

        <label for="id-surname">Фамилия:</label>
        <input type="text" id="id-surname" name="surname" maxlength="30" value="{{ profile.surname }}">

        <label for="id-bio">О себе:</label>
        <textarea class="resizable-textarea" id="id-bio" name="bio" rows="4">{{ profile.bio }}</textarea>

        <button type="submit">{% translate 'Изменить' %}</button>
    </form>
    <p><a href="{% url 'profiles_app:profiles_detail' username=profile.user.username %}">{% translate 'Вернуться к профилю' %}</a></p>
</div>
</body>
</html>