<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Избранное</title>
    <link rel="stylesheet" href="{% static 'css/favorite-product-list.css' %}">
</head>
<body>
    <main>
        <h1>Ваши избранные</h1>

        {% if products %}
            <div class="products-grid">
                {% for product in products %}
                    <div class="product-block">
                        <a href="{% url 'shop_app:product_detail' pk=product.pk %}">
                            <p>{{ product.name }}</p>
                        </a>
                        <p>{{ product.description|truncatechars:100 }}</p>
                        <p>{{ product.price }} ₽</p>
                        <div class="buttons">
                            <button type="button" class="add-to-favorite-btn" data-product-pk="{{ product.pk }}" data-favorite-pk="{{ product.favorite_products.first.pk }}" data-is-favorite="{{ product.favorite_products.exists|yesno:'true,false' }}">
                                <img src="{% static 'img/add-to-favorite-button.png' %}" class="favorite-button-icon">
                                <span class="favorite-tooltip">{% if is_favorite %}Убрать из избранного{% else %}Добавить в избранное{% endif %}</span>
                            </button>
                            <button type="button" class="add-to-cart-btn" data-product-pk="{{ product.pk }}" data-user-pk="{{ my_user.pk }}" data-cart-pk="{{ product.cart_product.first.pk }}" data-is-cart="{{ product.cart_product.exists|yesno:'true,false' }}">
                                Добавить в корзину
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="empty-cart">
                <p>Ваш список избранных пуст</p>
            </div>
        {% endif %}
    </main>
    <script>const STATIC_URL = "{% static '' %}";</script>
    <script>const csrftoken = "{{ csrf_token }}";</script>
    <script src="{% static 'js/products-to-cart.js' %}"></script>
    <script src="{% static 'js/products-to-favorite.js' %}"></script>
</body>
</html>