<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин товаров</title>
    <link rel="stylesheet" href="{% static 'css/shop-main.css' %}">
</head>
<body>
    <header>
        <div class="menu">
            <details>
                <summary>Меню</summary>
                <ul class="table-menu">
                    <li>
                        Аккаунт
                    </li>
                    <li>
                        Корзина
                    </li>
                    <li>
                        Каталог
                    </li>
                </ul>
            </details>
        </div>
        <div class="for-users">
            <div>
                <a href="https://">Акции</a>
            </div>
            <div>
                <a href="https://">Поддержка</a>
            </div>
            <div>
                <a href="https://">Доставка</a>
            </div>
            <div>
                <details>
                    <summary>Для покупателей</summary>
                </details>
            </div>
            <div>
                <a href="https://">Юридическим лицам</a>
            </div>
            <div>
                <a href="https://">Контакты</a>
            </div>
            <div>
                <a href="https://">Мы в телеграмме</a>
            </div>
        </div>
        <div class="number-phone">
            8-777-888-99-10
        </div>
    </header>
    <nav class="navbar">
        <div>
            <button type="button" class="home-button">
                <a href="{% url 'shop_app:shop_main_page' %}">Вернуться на главную</a>
            </button>
        </div>
        <div class="search-field">
            <form method="get" action="list/">
                {{ form.name }}
                <button type="submit">
                    <img src="{% static 'img/search-button.png' %}" alt="Иконка" class="search-button-icon">
                </button>
            </form>
        </div>
        <div class="user-profile-field">
            {% if my_user %}
                {% if profile.avatar %}
                    <div class="user-profile-avatar">
                        <a href="{% url 'profiles_app:profiles_detail' username=my_user.username %}">
                            <img class="avatar" src="{{ profile.avatar.url }}" alt="{{ profile.avatar.name }}">
                        </a>
                    </div>
                {% else %}
                    Не удалось загрузить фото профиля
                {% endif %}
            {% else %}
                <button class="button-login">
                    <a href="{% url 'auth_app:login'%}">Войти</a>
                </button>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <div class="catalog-container">
            <div class="block-catalog-sale">
                <a href="">
                    <div class="block-catalog-title-field">
                        Акции
                    </div>
                    <div class="block-catalog-description-field">
                        Скидки, выгодные предложения и многое другое!
                    </div>
                </a>
            </div>
            <div class="block-catalog-gifts">
                <a href="">
                    <div class="block-catalog-title-field">
                        Подарки
                    </div>
                    <div class="block-catalog-description-field">
                        товары родным, близким и друзьям
                    </div>
                </a>
            </div>
            <div class="block-catalog-service">
                <a href="">
                    <div class="block-catalog-title-field">
                        Сервис
                    </div>
                    <div class="block-catalog-description-field">
                        Гарантия, возврат и обмен
                    </div>
                </a>
            </div>
            <div class="block-catalog-business">
                <a href="">
                    <div class="block-catalog-title-field">
                        Для бизнеса
                    </div>
                    <div class="block-catalog-description-field">
                        Оптовые закупки и B2B
                    </div>
                </a>
            </div>
            <div class="block-catalog-new">
                <a href="">
                    <div class="block-catalog-title-field">
                        Новинки
                    </div>
                    <div class="block-catalog-description-field">
                        Свежие поступления в каталоге
                    </div>
                </a>
            </div>
        </div>
        <main>
            {% if products %}
                {% for product in products %}
                    <div class="product">
                        <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}" width="300" height="120" class="product-image">
                        <h2 class="product-title"><a href="{% url 'shop_app:product_detail' pk=product.pk %}">{{ product.name }}</a></h2>
                        <div class="product-bottom-bar">
                            <p class="product-price">
                                {{ product.price }} ₽
                                {% if product.discount %}
                                    <br>(скидка {{ product.discount }}%)
                                {% endif %}
                            </p>
                            <div class="add-to-cart">
                                <button type="button" class="add-to-cart-btn" data-product-pk="{{ product.pk }}" data-user-pk="{{ my_user.pk }}" data-cart-pk="{{ product.cart_products.first.pk }}" data-is-cart="{{ product.cart_products.exists|yesno:'true,false' }}">
                                    Добавить в корзину
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2>Товары не найдены</h2>
            {% endif %}
        </main>
    </div>

    <script>const csrftoken = "{{ csrf_token }}";</script>
    <script src="{% static 'js/products-to-cart.js' %}"></script>

    <footer>
        <p>&copy; 2025 Магазин товаров</p>
    </footer>
</body>
</html>